
    <div id="business-description-section" class="container">      

   <div class="row">

      <div class="col-sm-12 col-md-6 col-md-offset-1 mainContent">                      

         {% for block in section.blocks %}   
         <div class="col-sm-12 business-description">
            <h2>{{block.settings.title}}</h2>
            {{block.settings.body_text}}         
        </div>
        {% endfor %}
        
      </div>           

   {% if section.settings.show_side_menu == 'true' %}
   <nav class="col-12 col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-2 img-thumbnail sideAffix">
     <ul class="nav nav-pills nav-stacked">
      <div class="opening-times">
         <h2>Opening hours</h2>         
         {{ section.settings.opening_hours }}
         <h2>Contact</h2>
         <p><i class="fas fa-phone"></i> Tel: {{ section.settings.contact_tel }}</p>
         <p><i class="fas fa-envelope"></i> Email: <a href="mailto:{{section.settings.contact_email}}" target="_top">{{section.settings.contact_email}}</a></p>            
         
         <h2>Address</h2>        
         {{ section.settings.contact_address }}        

      </div>
   </ul>
   </nav>     
   {% endif %}

    </div>
   </div>  

    {% schema %}
    {
      "name":{
         "en":"Business Description"
      },
      "settings":[
         {
            "type":"radio",
            "id":"show_side_menu",
            "label":{
               "en":"Show side menu"
            },
            "default":"true",
            "options":[
               {
                  "value":"true",
                  "label":{
                     "en":"Yes"
                  }
               },
               {
                  "value":"false",
                  "label":{
                     "en":"No"
                  }
               }
            ]
         },         
         {
            "type":"richtext",
            "id":"opening_hours",
            "label":{
               "en":"Opening hours"
            },
            "default":{
               "en":"<p>Monday 10am - 7pm</p><p>Friday 10am - 7pm</p>"
            }
         },
         {
            "type":"text",
            "id":"contact_tel",
            "label":{
               "en":"Contact telephone number"
            },
            "default":{
               "en":"+44 123456789"
            }
         },
         {
            "type":"text",
            "id":"contact_email",
            "label":{
               "en":"Contact email address"
            },
            "default":{
               "en":"our@email.com"
            }
         },
         {
            "type":"richtext",
            "id":"contact_address",
            "label":{
               "en":"Address"
            },
            "default":{
               "en":"<p>Trafalgar Square, London WC2N 5DN</p>"
            }
         }
       ],
       "blocks":[
          {
             "type":"text_block",
             "name":{
                "en":"description"
             },
             "settings":[               
                {
                   "type":"text",
                   "id":"title",
                   "label":{
                      "en":"Title of our service."
                   },
                   "default":{
                      "en":"Fix cars"
                   }
                },
                {
                   "type":"richtext",
                   "id":"body_text",
                   "label":{
                      "en":"Breakdown of our service."
                   },
                   "default":{
                      "en":"<p>We whack it.<p><p>It works.</p>"
                   }
                }
             ]
          }
       ],
       "presets":[
          {
             "name":{
                "en":"Provided Services"
             },
             "category":{
                "en":"Text"
             },
             "blocks":[
                {
                   "type":"text_block"
                }       
             ]
          }
       ]
    }
    {% endschema %}
    