<div id="contact-banner" class="slick-banner">

    <div id="slick-collapsed-banner" class="slick-collapsed-banner add-cursor">
       <img src="https://cdn.shopify.com/s/files/1/0289/2844/2420/files/plus_expand_256x256_crop_center.png?v=1624018843">
       <h2>Contact Us</h2>
    </div>
    
    <div id="slick-opened-banner" class="slick-opened-banner">
       <div class="slick-banner-wrapper">
          <img class="slick-close add-cursor" src="https://cdn.shopify.com/s/files/1/0289/2844/2420/files/cancel_256x256_crop_center.png?v=1624018842">
          
          <div class="slick-banner-heading">
             <h2 id="slick-opened-banner-title">Contact Us</h2>            
          </div>
 
          <div class="slick-thank-you-message">
             <h2 id="slick-opened-banner-title">THANK YOU</h2>
             <p class="slick-text first-paragraph"> We will get back to you as soon as possible. Have a great day!</p>            
          </div>
          
          <div class="slick-banner-body">           
             <span id="user-warning">Please fill in all the details.</span>
             <form id="slick-feedback-form-tag">               
                <textarea id="slick-feedback-form" class="slick-feedback-form" rows="10" cols="30" placeholder="Your message..."></textarea>
                <div class="form-group">
                   <br>
                   <div class="slick-form-submit add-cursor">Submit</div>
                </div>
                <br>
             </form>
             
          </div>
       </div>
    </div>
    
 </div>