
<nav class="navbar navbar-inverse  navbar-static-top navbar-fixed-top" id="myNav">
    <div class="container-fluid">
      <div class="navbar-header">        
        <a class="navbar-brand" href="#">My Practise</a>
      </div>
    </div>
  </nav>    

{% schema %}
{
  "name": {    
  "en": "Header"    
},
"settings": [         
{
         "type":"image_picker",
         "id":"image",
         "label":{
            "en":"Image"
         }
      },
{
  "type": "link_list",
  "id": "main_linklist",
  "label": {        
  "en": "Menu"        
},
"default": "main-menu"
}    
]
}
{% endschema %}
