
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="hero-image-carousel">
   
   <!-- Indicators -->
   <ol class="carousel-indicators">
      {% for block in section.blocks %}   
      <li data-target="#hero-image-carousel" data-slide-to="{{forloop.index}}" {% if forloop.index == 1 %} class="active" {% endif %}></li>
      {% endfor %}      
   </ol>

   <!-- Wrapper for slides -->
   <div class="carousel-inner">
      
      {% for block in section.blocks %}   
      <div class="item slides {% if forloop.index == 1 %} active {% endif %}">
         <div class="slide-{{forloop.index}}">
            <div class="overlay"></div>
         </div>
         <div class="hero">
            <hgroup class="col-sm-12">
               <h1>{{block.settings.title}}</h1>
               <h3>{{block.settings.body_text}}</h3>
            </hgroup>
         </div>
      </div>
      {% endfor %}      
      
   </div>
</div>

<style>
   {% for block in section.blocks %}
   .fade-carousel .slides .slide-{{forloop.index}} {
      background-image: url("{{ block.settings.image | img_url: '900x900' }}"); 
   }
   {% endfor %}
   
</style>

{% schema %}
{
   "name":{
      "en":"Hero image carousel"
   },
   "settings":[
      
   ],
   "blocks":[
      {
         "type":"text_block",
         "name":{
            "en":"Image"
         },
         "settings":[
            {
               "type":"image_picker",
               "id":"image",
               "label":{
                  "en":"Image"
               }
            },
            {
               "type":"text",
               "id":"title",
               "label":{
                  "en":"Text overlay - Title"
               },
               "default":{
                  "en":"Jon Doe's"
               }
            },
            {
               "type":"text",
               "id":"body_text",
               "label":{
                  "en":"Text overlay - body text"
               },
               "default":{
                  "en":"This is our wonderful practise. Come and visit us soon!"
               }
            }
         ]
      }
   ],
   "presets":[
      {
         "name":{
            "en":"Hero image carousel"
         },
         "category":{
            "en":"Text"
         },
         "blocks":[
            {
               "type":"text_block"
            }       
         ]
      }
   ]
}
{% endschema %}
