
<div class="col-md-12 google-map">
  <iframe src="{{ section.settings.location_src }}" width="100%" height="550px" frameborder="0" style="border:0" allowfullscreen></iframe>   
</div>

{% schema %}
{
  "name": {    
  "en": "Google Maps Location"    
  },
  "settings": [         
    {
      "type":"text",
      "id":"location_src",
      "label":{
        "en":"Google maps location <iframe> src"
      },
      "default":{
        "en":"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d620.8198365011307!2d-0.12859072073100758!3d51.5080908834363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604ce3941eb1f%3A0x1a5342fdf089c627!2sTrafalgar%20Square!5e0!3m2!1sen!2suk!4v1624015364303!5m2!1sen!2suk"
     }
    }
  ]
}
{% endschema %}
