// Global Styles
* {
  padding: 0px;
  margin: 0px
}

body{   
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  background-color: #ededed;
}

.section-container{
  padding-top: 50px;
}

// Top Navigation Menu
.navbar{
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;   
}
.navbar-inverse{  
  background-image: linear-gradient(to bottom,#a1c4fd 0,#c2e9fb 100%);
  padding-bottom: 8px;
}

/* Side Navigation Menu */
.affix {
  margin-top: 32px;  
  top: 20px;
  z-index: 9999 !important;      
  background-color: #c2e9fb;
  padding-right: 20%;  
  padding-bottom: 20%;
  padding-left: 20px;  
}

.sideAffix{
  text-align: left;  
  background-color: #c2e9fb;    
  margin-top:  5%;  
}

/********************************/
/*       Fade Hero Image-carousel       */
/********************************/
.fade-carousel {
  position: relative;
  height: calc(100vh - 50px);
}

.fade-carousel .carousel-inner .item {
  height: calc(100vh - 50px);
}

.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #f39c12;
  border-color: #f39c12;
  opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;  
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  -webkit-transform: translate3d(-50%,-50%,0);
  -moz-transform: translate3d(-50%,-50%,0);
  -ms-transform: translate3d(-50%,-50%,0);
  -o-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}
.hero h1 {
  font-size: 6em;    
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s; 
  -ms-transition: 2s all ease-in-out .1s; 
  -o-transition: 2s all ease-in-out .1s; 
  transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s; 
  -ms-transition: 2s all ease-in-out .1s; 
  -o-transition: 2s all ease-in-out .1s; 
  transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.carousel-inner > .item > img {  
  height:420px;
}

.mainContent{
  text-align: left;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
  .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
  .hero h1 { font-size: 4em; }    
}

// Business Description
#business-description-section .row {
  padding-bottom: 60px;
}

.business-description p {
  display: list-item;         
  list-style-type: disc;      
  list-style-position: inside;
  margin-left: 20px;
}

// Map
.google-map{
  margin-left: 0px;
  padding-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  min-height: 100%;
}

.google-map iframe {
  height: 100vh;
}

@media only screen and (max-width: 576px) {
  .sideAffix {
    text-align: center;
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 992px) {
  #business-description-section {
    position: relative;
    min-height: 100vh;    
  }

  #business-description-section .mainContent, 
  #business-description-section .sideAffix {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
  }

}