:root {
    --banner_color: #c2e9fb;
    --tablet_breakpoint: 768;
    --mobile_breakpoint: 480;
    --opened_desktop_width: 490;
    --opened_desktop_height: 475;
    --opened_tablet_width: 338;
    --opened_tablet_height: 480;
    --opened_mobile_height: 485;
    --collapsed_desktop_width: 212;
    --collapsed_desktop_height: 100;
    --collapsed_tablet_width: 160;
    --collapsed_tablet_height: 55;
    --collapsed_mobile_width: 180;
    --collapsed_mobile_height: 60;
  }
  
  /* Global collapsed Banner */
  .slick-collapsed-banner{           
    line-height: 1.9;
    letter-spacing: 0.49px;
    font-size: 12px;       
    background-color: var(--banner_color);
    box-shadow: #c2e9fb -1px 0px 3px 0px;
    position: fixed;
    bottom: 0; 
    left: 0;              
    z-index: 9999;  
    display: inline-block;              
  }      
  .slick-collapsed-banner h2{              
    float: left;
  }
  
  .slick-collapsed-banner img{
   float: right;
  }           
  
  .add-cursor{
    cursor: pointer;
  } 
  
  /* Global opened banner */
  #contact-banner{
    z-index:  9999;
  }
  
  .slick-banner-body {
    padding-bottom: 30px;
  }
  
  .slick-banner-wrapper{
    margin:  14px 14px 14px 14px;
  }
  
  #contact-banner .slick-thank-you-message{
    display: none;
  }
  
  .slick-opened-banner .first-paragraph{
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.49px;
    line-height: 1.9;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .slick-opened-banner .second-paragraph{
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.49px;
    line-height: 1.9;
    margin-bottom: 0px;  
  }
  
  .slick-opened-banner .slick-form-submit{
    font-style: oblique; 
    letter-spacing: 1.5px; 
    line-height: 1.4;     
    text-decoration: underline;
    font-size: 12px;
    padding-bottom: 0px;
  }
  
  .slick-opened-banner{
    text-align: center;              
    font-family: "Helvetica";
    line-height: 1.9;
    letter-spacing: 0.49px;
    font-size: 12px; 
    background-color: var(--banner_color);
    box-shadow: 0px 1px 3px 0px #c2e9fb;
    position: fixed;
    bottom: 0;
    left: 0;               
    z-index: 9999;    
    display:none;                          
  }
  
  .slick-opened-banner h2{
    font-family: "Helvetica";
    width: 100%;  
    margin-bottom: 25px;
  }
  
  .slick-opened-banner img{
   float: right;
  }
  
  
  .slick-opened-banner .slick-text{
    font-family: "Helvetica";
    font-weight: 100;
  }
  
  .slick-opened-banner .customer-service{
    color: #424242;
    font-weight: lighter;
    font-size: 12px;
  }
  
  #user-warning{
    color: red;
    display: none;
  }
  
  .slick-opened-banner form{
   margin: auto;
  }
  
  .slick-opened-banner form span{
   display: block;
  }
  
  .slick-opened-banner textarea{
    box-shadow: 0px 1px 3px 0px #c2e9fb;  
    background: #ededed;               
    height: 200px;
    border-width: 0px 0px 0px 0px;
  }
  
  ::-webkit-input-placeholder { /* Edge */
    font-family: 'Helvetica';               
    font-size: 12px;
    letter-spacing: 0.49px;              
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Helvetica';                
    font-size: 12px;
    letter-spacing: 0.49px;              
  }
  .slick-opened-banner textarea ::placeholder {
    font-family: 'Helvetica';                
    font-size: 12px;           
    letter-spacing: 0.49px;
  }
  
  /* Mobile Specific */
  @media only screen and (max-width: 480px) {
  
    .slick-collapsed-banner{
      height: var(--collapsed_mobile_height)px;
      width: var(--collapsed_mobile_width)px;
    }
  
    .slick-collapsed-banner h2{
      font-size: 16px;
      letter-spacing: 1.95px;
      line-height: 1;
      margin: 18px 0px 0px 17px;
    }
  
    .slick-collapsed-banner img{
      width: 16px;
      margin: 17px 17px 17px 17px;
    }
  
    .slick-opened-banner{
      width: 100%;
      height: var(--opened_mobile_height)px;                 
    }         
  
    .slick-opened-banner img{
      width: 16px;
    }
  
    .slick-opened-banner h2{                 
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 1.53px;
      line-height: 1;                     
      padding-top: 30px;   
    }
    
    .slick-opened-banner .first-paragraph{
      margin-top: 0px;
      line-height: 1.9;
    }
  
    .slick-opened-banner .slick-text{
      font-weight: 100; 
      font-size: 12px; 
      letter-spacing: 0.49px; 
      line-height: 1.9;
    }            
  
    #slick-feedback-form-tag{
      height: 170px;   
      margin-bottom: 30px;                  
    }
  
    #slick-feedback-form{
      height: 140px;
      max-width: 325px;
      padding-top: 15px;
      padding-bottom: 5px;
      padding-right: 10px;
      padding-left: 10px;       
    }
  }
  /* Tablet Specific */
  @media only screen and (min-width: 480px) {
  
    .slick-collapsed-banner{
      height: var(--collapsed_tablet_height)px;
      width: var(--collapsed_tablet_width)px;
    }
    
    .slick-collapsed-banner h2{
      font-size: 18px;
      line-height: 1;
      margin: 18px 0px 0px 17px;
      letter-spacing: 1.53px;
    }
    
    .slick-collapsed-banner img{
      width: 18px;
      margin: 17px 17px 17px 17px;
    }
    
    .slick-opened-banner{
      width: var(--opened_tablet_width)px;
      height: var(--opened_tablet_height)px;   
    }    
    
    .slick-opened-banner img{
      width: 16px;
    }
    
    .slick-opened-banner h2{ 
      letter-spacing: 1.53px;
      line-height: 1;
      font-weight: normal;
      font-size: 17px;
      padding-top: 30px;
      margin-top: 0px;
    }             
    
    .slick-opened-banner .slick-text{
      font-weight: 100; 
      font-size: 12px; 
      letter-spacing: 0.49px; 
      line-height: 1.9;
    }
    
    .slick-opened-banner .first-paragraph{    
      margin-top: 0px;
      margin-bottom: 30px;
    }
  
    .slick-opened-banner .second-paragraph{    
      margin-bottom: 0px;
    }
    
    #slick-star-rating-form{
      margin-bottom: 20px;
    }
    
    #slick-feedback-form{
      width: 310px;
      height: 140px;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
    }
    
    #slick-feedback-form-tag{
      height: 170px;  
      margin-bottom: 20px;             
    }
  }
  
  /* Desktop Specific */        
  @media only screen and (min-width: 768px) {
  
    .slick-collapsed-banner{
      height: var(--collapsed_desktop_height)px;
      width: var(--collapsed_desktop_width)px;
    }              
  
    .slick-collapsed-banner h2{
      font-size: 20px;
      letter-spacing: 1.53px;
      line-height: 1;
      float: left;
      margin: 17px 0px 0px 17px;
    }
  
    .slick-collapsed-banner img{
      float: right;
      width: 19px;
      margin: 17px 17px 17px 17px;
      line-height: 1;                            
    }
  
    .slick-opened-banner{
      width: var(--opened_desktop_width)px;
      height: var(--opened_desktop_height)px;   
    }  
  
    .slick-opened-banner h2{
      letter-spacing: 1.53px;
      font-size: 20px;
      font-weight: normal;
      line-height: 1;
      padding-top: 30px;  
    }
  
    .slick-opened-banner img{               
      width: 19px;   
    }
  
    #slick-feedback-form-tag{
      height: 190px;
      margin-bottom: 0px!important;
    }
  
    #slick-feedback-form{   
      /* margin-bottom: 0px!important; */
      width: 323px;
      height: 140px;
      margin: auto;
      box-shadow: #c2e9fb 0px 1px 3px 0px;
      border: none;
    }
  }
  